@model blog2.ViewModels.PostViewModel

<form asp-action="Write" asp-controller="Blogs" method="post" id="form">
    <input hidden="true" asp-for="@Model.Edited">
    <input hidden="true" asp-for="@Model.Id">
    <div class="container my-5">

        <div class="d-inline mx-2">
            <input asp-for="Title" id="post-title" class="bg-light border-0 w-75" placeholder="Title ...">
            <div class="editor d-inline mx-2">
                <input asp-for="@Model.Tags" id="tags" class="bg-light border-0 w-75" placeholder="#tags...">
            </div>
            <button type="submit" class="btn btn-outline-secondary mr-auto">Publish</button>
            <div class="text-muted">
                <input asp-for="@Model.Author" id="author" class="bg-light border-0 m-1" placeholder="Author...">
            </div>
            <input asp-for="Content" id="content" hidden="true">
        </div>
        <div id="editor">

        </div>
    </div>
</form>
