@inject SignInManager<User> signInManager

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container-fluid col-lg-8 col-md-6">
            <a class="navbar-brand" href="/">
                <img src="~/logo.svg" width="80px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " href="/blogs">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/write">Write</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>

            @if (signInManager.IsSignedIn(User))
            {
                <div class="modal-header">
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                        Logout
                    </button>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Log Out</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to log out?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">No</button>
                                    <form method="post" asp-action="Logout" asp-controller="Account">
                                        <button type="submit" class="btn btn-outline-warning" style="width: auto;">Logout
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="modal-header">
                    <a class="border border-light btn btn-outline-warning" href="~/account/register">Register</a>

                    <a class="border border-light btn btn-outline-danger" href="~/account/login">Login</a>
                </div>


            }
        </div>
    </nav>
</header>